<nav fxLayout="column" fxLayout.xs="row"
    class="icare-nav sidebar bg-icare">
    <div class="max-width navbar-icon"
        routerLinkActive="active"
        matTooltip="Roads"
        matTooltipPosition="after"
        [routerLink]="['/']"
        routerLinkActive="active" >
        <mat-icon>directions_car_24px</mat-icon>
    </div>
    <div class="max-width navbar-icon"
        routerLinkActive="active"
        matTooltip="Webcams"
        matTooltipPosition="after"
        [routerLink]="['webcam']"
        routerLinkActive="active"
        >
        <mat-icon>camera_enhance_24px</mat-icon>
    </div>
    <div class="max-width navbar-icon"
        routerLinkActive="active"
        matTooltip="Rest Areas"
        matTooltipPosition="after"
        [routerLink]="['parking']"
        routerLinkActive="active"  >
        <mat-icon>local_parking_24px</mat-icon>
    </div>
    <div class="max-width navbar-icon"
        routerLinkActive="active"
        matTooltip="Reports"
        matTooltipPosition="after"
        [routerLink]="['warning']"
        routerLinkActive="active" >
        <mat-icon>warning_24px</mat-icon>
    </div>
    <div class="max-width navbar-icon"
        routerLinkActive="active"
        matTooltip="Suspensions"
        matTooltipPosition="after"
        [routerLink]="['closure']"
        routerLinkActive="active" >
        <mat-icon>close_24px</mat-icon>
    </div>
    <div class="max-width navbar-icon"
        routerLinkActive="active"
        matTooltip="Charging Stations"
        matTooltipPosition="after"
        [routerLink]="['electric']"
        routerLinkActive="active" >
        <mat-icon>power_24px</mat-icon>
    </div>
</nav>
