<nav fxLayout="column" fxLayout.xs="row"
    class="icare-nav sidebar bg-icare">
    <div class="max-width navbar-icon"
        routerLinkActive="active"
        matTooltip="Roads"
        matTooltipPosition="after"
        [routerLink]="['']"
        routerLinkActive="active" >
        <mat-icon>personal_video_24px</mat-icon>
    </div>
    <div class="max-width navbar-icon"
        routerLinkActive="active"
        matTooltip="Webcams"
        matTooltipPosition="after"
        [routerLink]="['webcam']"
        routerLinkActive="active"
        >
        <mat-icon>domain_24px</mat-icon>
    </div>
    <div class="max-width navbar-icon"
        routerLinkActive="active"
        matTooltip="Rest Areas"
        matTooltipPosition="after"
        [routerLink]="['rest']"
        routerLinkActive="active"  >
        <mat-icon>group_24px</mat-icon>
    </div>
    <div class="max-width navbar-icon"
        routerLinkActive="active"
        matTooltip="Reports"
        matTooltipPosition="after"
        [routerLink]="['reports']"
        routerLinkActive="active" >
        <mat-icon>how_to_reg_24px</mat-icon>
    </div>
    <div class="max-width navbar-icon"
        routerLinkActive="active"
        matTooltip="Suspensions"
        matTooltipPosition="after"
        [routerLink]="['suspensions']"
        routerLinkActive="active" >
        <mat-icon>description_24px</mat-icon>
    </div>
    <div class="max-width navbar-icon"
        routerLinkActive="active"
        matTooltip="Charging Stations"
        matTooltipPosition="after"
        [routerLink]="['stations']"
        routerLinkActive="active" >
        <mat-icon>description_24px</mat-icon>
    </div>
</nav>
