<h1 mat-dialog-title>Warning Details</h1>
<form [formGroup]="editForm">
  <mat-dialog-content>
    <div class="input-row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Extent</mat-label>
        <input
          matInput
          type="text"
          value="{{ data.extent }}"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Identifier</mat-label>
        <input
          matInput
          type="text"
          value="{{ data.identifier }}"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Icon</mat-label>
        <input
          matInput
          type="text"
          value="{{ data.icon }}"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Is Blocked</mat-label>
        <input
          matInput
          type="text"
          value="{{ data.isBlocked }}"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Description</mat-label>
        <input
          matInput
          type="text"
          value="{{ data.description }}"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Title</mat-label>
        <input
          matInput
          type="text"
          value="{{ data.title }}"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Point</mat-label>
        <input
          matInput
          type="text"
          value="{{ data.point}}"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Display Type</mat-label>
        <input
          matInput
          type="text"
          value="{{ data.display_type}}"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Future</mat-label>
        <input
          matInput
          type="text"
          value="{{ data.future }}"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Subtitle</mat-label>
        <input
          matInput
          type="text"
          value="{{ data.subtitle}}"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Lat</mat-label>
        <input
          matInput
          type="text"
          value="{{ data.coordinate.lat}}"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Long</mat-label>
        <input
          matInput
          type="text"
          value="{{ data.coordinate.long }}"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Future</mat-label>
        <input
          matInput
          type="text"
          value="{{ data.future }}"
        />
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      mat-button
      type="button"
      mat-dialog-close
    >
      Cancel
    </button>
  </mat-dialog-actions>
</form>
